{% extends 'layout.html' %}
{% block body %}
    <div class="class_padding">
        <h1 class="font_red">MyADC Login</h1>
        <div>
            <label>Username: </label>
            <input type="text">
        </div>
        <br/>
        <div>
            <label>Password: </label>
        <input type="password">
        </div>
        <br/>
        <button type="submit">Sign In</button>
        <br/>
        <br/>
        <div>
            <a href="/register" style="font-weight:bold">Register Now</a>
        </div>

    </div>



{% endblock %}